extends layout

block content
  h1= title
  p Welcome to #{title}
  #divCalculator
   h2 Calculator
   #divCalc.divCalc
    h3 Calculator
    form(id='formCalc' action='/is217hw3' method='post')
      input(type='text', id='inputDisplay', clas='inputDisplay', name='display')
      br
      button(id='btnClear', class='btnLarge' name='clear' type='button') Clear
      button(id='btnBack', class='btnLarge' name='back' type='button') Backspace
      br
      button(id='btnNum7', class='number' name='num', type='button') 7
      button(id='btnNum8', class='number' name='num', type='button') 8
      button(id='btnNum9', class='number' name='num', type='button') 9
      button(id='btnOpDivide', class='operator' name='op', type='button') /
      br
      button(id='btnNum4', class='number' name='num', type='button') 4
      button(id='btnNum5', class='number' name='num', type='button') 5
      button(id='btnNum6', class='number' name='num', type='button') 6
      button(id='btnOpMultiply', class='operator' name='op', type='button') *
      br
      button(id='btnNum1', class='number' name='num', type='button') 1
      button(id='btnNum2', class='number' name='num', type='button') 2
      button(id='btnNum3', class='number' name='num', type='button') 3
      button(id='btnOpSubtract', class='operator' name='op', type='button') -
      br
      button(id='btnNum0', class='number' name='num', type='button') 0
      button(id='btnPeriod', class='number' name='num', type='button') .
      button(id='btnOpCalc', class='operator' name='op', type='button') =
      button(id='btnOpAdd', class='operator' name='op', type='button') +
  h1#qunit-header QUnit Test
  h2#qunit-bannder
  div#qunit-testrunner-toolbar
  h2#quit-userAgent
  ol#qunit-tests