doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/calculate.css')
    link(rel='stylesheet', href='/stylesheets/qunit-1.14.0.css')

    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/calculate.js')
    script(type='text/javascript', src='/javascripts/qunit-1.14.0.js')
    script(type='text/javascript', src='/javascripts/xmlhttp.js')

    script(type='text/javascript', src='/javascripts/tests.js')

  body
    block content
