doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/is217hw3.css')
    link(rel='stylesheet', href='/stylesheets/qunit-1.14.0.css')
    
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/lib/calculator.js')
    script(type='text/javascript', src='/javascripts/qunit-1.14.0.js')
    
  body
    block content